#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    text-align: left;
    border-bottom: 1px solid #bbcdba;
    padding: 15px;
    width: 25%;
}

tr:hover {
    background-color: #bbcdba;
}

h1 {
  color: #0A6644; 
  font-family: 'DM Sans', sans-serif; 
  font: bolder
}

h2 {
  color: #0A6644; 
  font-family: 'DM Sans', sans-serif; 
  font: bolder
}

p {
  color: #0A6644; 
  font-family: 'DM Sans', sans-serif; 
  font-size: 150%
}

#item-name {
  border-radius: 15px; 
  width: 300px; 
  height: 20px; 
  border-color:#0A6644; 
  padding: 5px; 
  padding-left: 15px; 
  font-family: 'DM Sans', sans-serif
}

#submit-button {
  border-radius: 10px; 
  background-color: white; 
  border-color:#0A6644; 
  height: 25px; 
  width: 70px; 
  font-family: 'DM Sans', sans-serif
}

button {
  border-radius: 10px; 
  background-color: white; 
  border-color:#0A6644; 
  height: 25px; 
  width: 80px; 
  font-family: 'DM Sans', sans-serif
}

#div1 {
  display: flex; 
  justify-content: center
}

#shopping-cart { 
  color: #0A6644; 
  font-family: 'DM Sans', sans-serif; 
  font-size: 100%
}

#comparison-table { 
  color: #0A6644; 
  font-family: 'DM Sans', sans-serif; 
  font-size: 100%
}

#div2 {
  text-align: center;
}

.item-image {
    float: left;
    width:  60px;
    height: 60px;
    object-fit: cover;
    padding: 10px 10px 10px 10px;
}

.item-size-price, .total {
    font-weight: bold;
}

.item-not-found {
    font-weight: bold;
    color: #a6b6a5;
}

a {
  text-decoration: none;
  font-family: 'DM Sans', sans-serif; 
  padding: 6px 15px;
  color: #0A6644;
  border-radius: 10px;
}

a:hover, a:active {
  background: #fff;
  color: #0A6644;
}